body 
{
  padding: 20px;
  font-family: Helvetica;
  margin: 0 auto;
}

#fixed
{
  position: fixed;
  max-width: 20%;
}

#sliderWrapper, input, button, select {
  font-size: 0.7rem;
  padding: 2px 5px;
  border: 1px solid black;
}
button {
  font-size: 0.7rem;
  font-weight: lighter;
  margin: 1px;
  padding: 2px 5px;
  color: rgb(12, 16, 27);
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 2.5 ease;
}
select {
  margin: 1px;
  padding: 2px 5px;
}

ul
{
  list-style: none;
}

li
{
  font-size: 0.8rem;
  font-weight: lighter;
  color:rgb(214, 205, 205);
}

#slider
{
  font-size: 0.8rem;
}

#searchWrapper
{
  width: 280px;
}

#searchResults
{
  border: 1px dashed rgba(17, 17, 19, 0.267);
  display: flexbox;
  overflow-y: scroll; 
  max-height: 550px;
}

.searchCard
{
  display: inline-block;
  padding: 5px;
}

.searchCard img
{
  border: 1px solid hsla(0, 5%, 20%, 0.342);
  width: 100px;
}

#chartWrapper 
{
  display: inline-block;
  margin-left: 20%;
  width: 75%;
  background-color:rgb(11, 16, 31);
}

#chartDetails
{
  display: inline-block;
  position: absolute;
  right: 10%;
  top: 5%;
  width: 15%;
  border: 1px solid black;
  text-align: left;
}

.chartRow 
{
  opacity: 0.9;
  background-color: #20262e;
  display: block;
}

.card {
  display: inline-block;
  padding: 15px;
}

.card img {
  max-width: 200px;
  max-height: 200px;
}

.inactive
{
  border: none;
}

.active {
  border: 1px dashed white;
}