body 
{
  padding: 20px;
  font-family: Helvetica;
}

#fixed
{
  width: 10%;
  position: fixed;
  max-width: 10%;
}

#searchResults
{
  display: flexbox;
  max-height: 300px;
}

.searchCard img
{
  max-width: 150px;
}

#chartWrapper 
{
  display: inline-block;
  margin-left: 20%;
  width: 75%;
  background-color:royalblue;
}

#chartDetails
{
  width: 10%;
}

.chartRow 
{
  opacity: 0.9;
  background-color: #20262e;
  display: inline-block;
}

.card {
  padding: 10px;
  height: 200px;
  width: 200px;
}