body 
{
  padding: 20px;
  font-family: Helvetica;
  margin: 0 auto;
}

#fixed
{
  position: fixed;
  max-width: 20%;
}

#sliderWrapper
{
  display: block;
}

#searchWrapper
{
  width: 280px;
}

#searchResults
{
  display: flexbox;
  overflow-y: scroll; 
  max-height: 550px;
}

.searchCard
{
  display: inline-block;
  padding: 5px;
}

.searchCard img
{
  border: 1px solid hsla(0, 5%, 20%, 0.342);
  width: 100px;
}

#chartWrapper 
{
  display: inline-block;
  margin-left: 20%;
  width: 75%;
  background-color:rgb(11, 16, 31);
}

#chartDetails
{
  width: 10%;
}

.chartRow 
{
  opacity: 0.9;
  background-color: #20262e;
  display: inline-block;
}

.card {
  padding: 10px;
  height: 200px;
  width: 200px;
}